
.experience,.about,.project, .certifications{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    margin-top:1%;
    padding:5px;
    font-weight: 400;

}




.duration{
    font-weight:600;
}

#content{
    margin-left:30%;
    font-size: 17px;
    font-weight: 500;
}


.design{
   color:darkblue;
   font-weight:900;
   font-size:50px;
   margin-left:30%;
}

@keyframes slideup{
    0%{
        margin-top:19%;
        opacity: 0;

    }
    100%{
        margin-top:10%;
        opacity: 1;
    }
}
.main{
    min-height: 89vh;
    min-width:90vw;
    overflow-x:hidden;
    background-image: url('./assets/a5.jpeg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}

.anime{
    animation-name: slideup;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}




#name{
    font-weight: 900;
    font-size:32px;
    margin-left:30%;
}

h3{
    font-size:27px;
    text-decoration: underline;  
}



.name{
    color:brown;
    line-height: 2rem;
    display: block;
    font-size:50px;
    margin-left:30%;
    font-weight: 900;
}

.proj-1{
    font-size:15px;
    font-weight:2px;
}

.list-group-horizontal{
    flex-wrap:wrap;
}
.list-group-item{
    margin:2px;
    border-radius:6px;
    font-size:15px;
}

#courses:hover{
    background-color:black;
    color:white;

}

a{
    text-decoration:none
}

img{
    height:50px;
    width:300px;
}
img:hover{
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

#intern, .det{
    background-color: rgb(240, 246, 251) ;
}

.nav-link{
    font-size:16px;
    font-weight: 600;
}

.nav-active{
    color:coral !important;
    display: inline-block;
    border-bottom: 2px solid coral;
}

.skill{
    background-color:#dcdcdc;
    padding: 20px;
    border-radius: 10px;

}


